body {
  background-image: url(../assets/bg.jpg);
  margin: 0px;
}

a {
  text-decoration: none;
  color: #9b9999;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  padding: 0px
  margin: 0px;

}

a:hover {
  color: #9b9999;

}


footer {
  background-color: #333;
  padding: 30px;
  display: flex;
  justify-content: center;
}

#logobox {
  background-color: white;
  background-image: url('/assets/header_bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 12px;
}

#navigation{
  background-color: #3A3A3C;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
/*  width: 100%;*/
  padding: 10px;
  font-family: 'Oswald', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3A3A3C;
  display: flex;
  justify-content: center;

}

li {
  display: block;
  color: #9b9999;
  text-align: center;
  padding: 4px 15px;
  text-decoration: none;
  font-size: 19px;
}

li a:hover{
 color: #9b9999;
}

#Container {
  display: flex;
  justify-content: center;
  margin-top: 28px;
  margin-bottom: 28px;

}

#PostContainer {
/*  border: solid 1px white;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
/*  width: 70%;*/
/*  flex-direction: row;*/
}

#box {
/*  flex: 1 0 40%;*/
  background-color: white;
  display: flex;
  flex-direction: column;
  display: flex;
  margin: 10px;
  width: 32%;
 /* height: 42%;
  margin-right: 9px;
  margin-left: 9px;
*/
  align-items: baseline;
}

.imgDiv {
  width: 95%;
  height: 20rem;
/*  display: flex;
  justify-content: center;
  margin-top: 9px;
  margin-left: -13px;*/
  margin: 10px;
}

.Images {
  width: 100%;
  height: 100%;
  object-fit: cover;
/*  display: flex;
  justify-content: center;*/
}

.contentBox {
  margin: 4px;
  padding: 10px;
}

.Titles {
  display: flex;
  flex-direction: row;
  color: #262626;
  font-family: 'Oswald', sans-serif;
  font-size: 26px;
  margin-top: -15px;


}

.Titles:hover {
  color: #7c7c7c;
}

.Author {
  color: #262626;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  margin-right: 12px;
  margin-left: 1px;
  letter-spacing: 0.5px


}

.CommentsCount {
  text-decoration: none;
  color: #262626;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;

}

.timeStamp {
  text-decoration: none;
  color: #262626;
  font-family: 'Oswald', sans-serif;
  margin-top: -2px;
  font-size: 13px;
  margin-left: 1px;

}

.readMe {
  text-decoration: none;
  color: #262626;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.1px;
}

#insta {
  margin-right: 5px;
}

#face {
  margin-left: 5px;
}