/*p {
  font-size: 15px;
  padding: 0px
  margin: 0px;
}*/

a {
  text-decoration: none;
  color: #262626;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  padding: 0px
  margin: 0px;
  float: left;

}

a:hover {
  color: #7c7c7c;
}

body {
  background-image: url(../assets/bg.jpg);
  height: 100%
}

footer {
  background-color: #333;
  padding: 30px;
  display: flex;
  justify-content: center;
}

#logobox {
  background-color: white;
  background-image: url('/assets/header_bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 12px;
}

#navigation{
  background-color: #3A3A3C;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
/*  width: 100%;*/
  padding: 10px;
  font-family: 'Oswald', sans-serif;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3A3A3C;
  display: flex;
  justify-content: center;
}

li{
  float: left;
}

li a{
  display: block;
  color: #9b9999;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover{
  background-color: #111;
}

#Container {
  display: flex;
  justify-content: center;
  margin-top: 28px;
  margin-bottom: 28px;

}

#PostContainer {
/*  border: solid 1px white;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
}

#box {
  flex: 0 0 46%;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 48%;
  margin-right: 17px;
  margin-left: 17px;

}

.imgDiv {
  width: 88%;
  height: 59%;
}

.Images {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Titles {
  text-decoration: none;
  color: #262626;
  font-family: 'Oswald', sans-serif;
  font-size: 23px;
  padding: 8px 0px 5px 0px;
}

.Titles:hover {
  color: #7c7c7c;
}

.Author {
  color: #262626;
  font-family: 'Lato', sans-serif;
  float: left;
}

.CommentsCount {
  text-decoration: none;
  color: #262626;
  font-family: 'Oswald', sans-serif;
}

.timeStamp {
  text-decoration: none;
  color: #262626;
  font-family: 'Oswald', sans-serif;
}